.container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .innerBox {
    min-width: 480px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;

    @media screen and (max-width: 768px) {
      min-width: unset;
    }

  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .error {
      font-weight: bold;
      font-size: 0.875rem;
      color: #ff3300;
      text-align: center;
    }

    button {
      outline: none;
      border: none;
      color: #fff;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1rem;
      padding: 10px 16px;
      width: 100%;
      transition: 100ms;
      cursor: pointer;

      &:disabled {
        background-color: gray !important;
      }
    }

    p {
      font-weight: 700;
      color: #000;

      span a {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1rem;
        text-decoration: underline;
        color: #1876d2;

      }
    }
  }
}